
body{
    background: $bg;
}

.header_banner{
    height: 380px;

}

.nav_all{
    padding:20px 26px 18px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba($color: #000000, $alpha: 0.2);
    border-radius: 5px;
    margin-top: -30px;

 
    .nav-link{
        border-radius: 5px;
        margin-right: 23px;
        margin-bottom: 5px;
    }
}


.divider_all{
    position: relative;
    margin:37px 0 65px;
    .divider_line{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        background-image: linear-gradient(to right, $primary 0%, $primary 50%, transparent 50%);
        background-size: 10px 1px;
        background-repeat: repeat-x;
    }

    .divider_icon{
        position: relative;
        margin: 0 auto;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border:2px solid $primary;
        background-color: $bg;
        &::before{
           content: '';
           position: absolute;
           border-right: 6px solid transparent;
           border-left: 6px solid transparent;
           border-top: 8px solid $primary;
           display:inline-block;
           top:50%;
           left: 50%;
           transform: translate(-50%,-50%);
        }

    }
}

.loc_main_title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 24px;
    color:$secondary;
}

.loc_all{
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    height: 100%;
    .loc_img{
       display: block;
       height: 155px;
       overflow: hidden;
       position: relative;
    }
    .loc_title{
        font-size: 24px;
        color:white;
        position: absolute;
        bottom: 14px;
        left: 22px;
    }

    .loc_subtitle{
        font-size: 16px;
        color:white;
        position: absolute;
        bottom: 11px;
        right: 24px;
    }

    .loc_body{
        padding: 15px 24px 20px;
    }

    .loc_icon{
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 1;
        margin-right: 9px;
    }

    .loc_text{
        font-weight: bold;
    }


}

.btn_goTop{
    display: block;
    position: fixed;
    bottom: 195px;
    right: 28px;
    visibility: hidden;

}