.bg-cover{
    background-size: cover;
    background-position: center center;
}

.h-scale {
    transition: all .5s;
    &:hover {
        transform: scale(1.25);
    }
}

//btn_goTop
html {
    scroll-behavior: smooth;
}






// .form-control {
//     -webkit-border-radius: 10px ;
//     -moz-border-radius: 10px ;
//     border-radius: 10px ;
//     border-width: 3px;
//     border-color: $primary;
//     background: gray;
// }

// .form-control::-webkit-input-placeholder {
//     color: rgba(255, 255, 255, 0.5);
//   }
// .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: rgba(255, 255, 255, 0.5);
// }

// .form-control::-ms-input-placeholder { /* Microsoft Edge */
//     color: rgba(255, 255, 255, 0.5);
// }